<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorServiceSoap" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWCFService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2039/CalculatorService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorServiceSoap"
                contract="CalculatorService.CalculatorServiceSoap" name="CalculatorServiceSoap" />
            <endpoint address="http://localhost:6061/WCFService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IWCFService" contract="EmployeeService.IWCFService"
                name="WSHttpBinding_IWCFService">
                <identity>
                    <dns value="DESKTOP-LOBF1RQ" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
